body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #141624;
   
}

nav {
    width: 100%;
    z-index: 100;
    position: fixed;
    top: 0;
    left: 0; 
    background-color: #1B263B;
    
}

.nav {
    list-style-type: none;
    display: flex;
    justify-content: center;
    padding: 0;
    margin: 0;
    align-items: center;
}

.nav li {
    flex: 1;
    text-align: center;
    padding: 1% 0 .5% 0;
    justify-content: center;

}

.nav a {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #e6e6e6;
    text-align: center;
    text-decoration: none;
    font-size: 1.2em;
    font-family: scandia-web;
    font-weight: bold;
}


.nav a img {
    width: 2%; /* Adjust as needed */
    height: 2%; /* Adjust as needed */
}



.nav a:hover {
    opacity: 0.5; /* Adjust opacity value here */
    transition: opacity 0.5s ease;
}

.hamburger {
    display: none;
}

@media screen and (max-width: 600px) {
    .nav {
        flex-direction: column;
        padding-bottom: 0;
    }
    .nav li {
        margin: 0;
    }
}

@media screen and (max-width: 600px) {
    .nav {
        display: none; /* Initially hide the nav on small screens */
        flex-direction: column;
        padding-bottom: 0;
        z-index: 4;
    }

    .nav.show {
        display: flex; /* Show nav when hamburger is clicked */
    }

    .hamburger {
        display: flex; /* Show hamburger only on mobile */
        flex-direction: column;
        justify-content: space-between;
        width: 30px;
        height: 25px;
        cursor: pointer;
        position: absolute;
        right: 20px;
        top: 15px;
    }

    .hamburger .line {
        width: 100%;
        height: 4px;
        background-color: #e6e6e6;
        margin: 2px 0;
    }

    .nav li {
        margin: 10px 0;
    }

    .nav li .logo {
        display: none; /* Optionally hide the logo on mobile */
    }
}

.newsletter {
    display: flex;
    justify-content: center; 
    align-items: center; 
    font-family: titillium-web;
    font-size: 1.75em;
    color: black;
    position: fixed;
    top: 5%;
    left: 50%;
    transform: translateX(-50%);
    z-index: 10;
    width: 100%;
    margin-top: 2%;
    color: #4ab1e4;
}

.newsletter a:hover {
    opacity: 0.5;
    transition: opacity 0.5s ease;
}

.newsletter a:link {
    text-decoration: none;
    color: #4ab1e4;
}

.newsletter a:visited { 
    text-decoration: none; 
    color: #4ab1e4;
} 




.intro-container {
    position: fixed;
    top: 0;
    z-index: 1;
    width: 100%;
    height: 80vh;
    background-image: url("home_page_background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin-top: 10%;
    animation: fadein 2s;
}


.intro {
    display: flex;
    justify-content: center; 
    align-items: center; 
    font-family: titillium-web;
    font-size: 1.75em;
    color: black;
    position: fixed;
    top: 15%;
    left: 50%;
    transform: translateX(-50%);
    z-index: 10;
    width: 100%;
    margin-top: 1%;
    color: #141624;
}


@keyframes fadein {
    0% {opacity: 0;}
    100% {opacity: 1;}
}


.text-overlay {
    position: fixed; /* Positions text over the image */
    top: 8%; /* Vertically centers the text */
    left: 50%; /* Horizontally centers the text */
    transform: translate(-50%, -50%); /* Ensures centering with top/left */
    color: white; /* Adjust text color for readability */
    font-size: 1.5em; /* Adjust text size */
    text-align: center; /* Centers text within the text box */
    position: fixed;
    width: 100%;
    z-index: 2;
    margin-top: 10%;
}



h1 {
    display: flex;
    justify-content: center; 
    align-items: center; 
    padding: 8% 0 0 0;
    font-family: scandia-web;
    font-size: 4em;
    font-weight: bold;
    color: #e6e6e6;
    font-style: italic;
    text-shadow: 3px 3px #141624;
}




.never_has_there {
    display: flex;
    justify-content: center; 
    align-items: center; 
    padding: 0 0 0 0;
    margin-top: -4.5%;
    font-family: titillium-web;
    font-size: 1.3em;
    color: #f2e505;
    font-style: italic;
    text-shadow: 4px 4px #141624;
}


.main-section {
    position: relative;
    z-index: 50;
    margin-top: 110vh;
    background-color: #141624;
    color: #e6e6e6;
}


h2 {
    display: flex;
    align-items: left; 
    font-family: scandia-web;
    font-size: 1.95em;
    padding: 2% 4% 0 4%;
    opacity: 90%;
    z-index: 2;
}

.p1 {
    display: flex;
    align-items: left; 
    font-family: Roboto Condensed;
    font-size: 1.65em;
    padding: 1.5% 4.5% 2% 4%;
    line-height: 1.75;
    opacity: 80%;
    z-index: 2;
}


.team_pic {
    flex: 0 0 40%;
    overflow: hidden;
    object-fit: cover;
    display: block;
    padding-top: 0;
    margin-left: 2%;
    z-index: 2;
    align-self: flex-start;
}

.team_pic img {
    width: 100%;
    height: auto;
}

.p2 {
    font-family: Roboto Condensed;
    font-size: 1.55em;
    max-width: 100%;
    padding: 0 2% 0 0;
    margin: 0;
    line-height: 1.75;
    opacity: 80%;
    z-index: 2;
    flex-grow: 1;
}

.flex {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    padding: 1% 2.5% 10% 2.5%;
    align-items: flex-start;
    z-index: 99;
    position: relative;
    gap: 12%;
}


.flex-inside {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-right: 4%;
    align-items: flex-start;
}

.flex-inside h2 {
    margin: 0 0 2% 0;
    padding: 0;
}

.email {
    display: flex;
    justify-content: center; 
    align-items: center; 
    height: 2vh; 
    font-family: titillium-web;
    font-size: 1.30em;
    font-weight: bold;
    padding: 5% 0 .5% 0;
}


.socials {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: nowrap;
    padding: 2% 2% 2% 2%;
    background-color: #1B263B;
    z-index: 2;
}

.socials a {
    transition: opacity 0.5s ease;
}

.socials a:hover {
    opacity: 50%;
}

.insta {
    padding: 0 0.5% 0 0.5%;
}

.youtube {
    padding: 0 0.5% 0 0.5%;
}

.mail {
    padding: 0 0.5% 0 0.5%;
}

.linked {
    padding: 0 0.5% 0 0.5%;
}

.copyright {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: scandia-web;
    font-style: italic;
    font-size: 1em;
    padding: 1% 0;
}

.policy_state {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: scandia-web;
    font-style: italic;
    font-size: 1em;
    padding: 1% 0;
    background-color: #141624;
    color: #e6e6e6;
}


@media screen and (max-width: 600px) {
    .newsletter {
        font-size: 1em; /* Adjusted for smaller screens */
        top: 0; /* More space for the fixed element */
    }

    .intro-container {
        height: 60vh; /* Reduce the height of the intro on mobile */
        background-size: contain; /* Ensure the background image is contained */
        margin-top: 0;
    }

    .text-overlay {
        font-size: 1em; /* Reduce overlay text size */
        top: 10%; /* Adjust vertical position */
        padding: 0 5%; /* Add padding to ensure text doesn't go to the edges */
    }

    h1 {
        font-size: 1.5em; /* Reduce size for mobile */
        padding: 30% 0 0 0; /* Adjust padding */

    }

    .intro {
        font-size: .8em; 
        padding: 2% 4%; 
        max-width: 90%;
        line-height: 1.1;
        top: 25%;
    }

    .never_has_there {
        font-size: 1em; /* Smaller font for subtitle */
        margin-top: -6%; /* Adjust negative margin */
        padding-bottom: 4%;
        text-shadow: 2px 2px #141624;
    }

    .main-section {
        margin-top: 90%; /* Adjust the margin to match reduced intro-container height */
        padding: 3% 4%; /* Adjust padding */
    }

    h2 {
        font-size: 1.1em;
    }

    .p1, .p2 {
        font-size: .8em; /* Reduce text size */
        padding: 2% 3%; /* Add padding for readability */
    }

    /* Adjust the flex layout */
    .flex {
        flex-direction: column; /* Stack the items vertically on mobile */
        gap: 5%; /* Add gap between flex items */
        align-items: center; /* Center the items horizontally */
    }

    .team_pic {
        margin-left: 0; /* Remove left margin */
        width: 100%; /* Full width on mobile */
        padding-bottom: 4%;
    }

    .socials {
        flex-direction: row; /* Stack social icons */
        padding: 5% 0; /* Increase padding */
    }

    .socials a img {
        width: 30px; /* Reduce icon size */
    }

    .copyright {
        font-size: 0.8em; /* Smaller copyright text */
    }

    .policy_state {
        font-size: 0.8em; /* Smaller copyright text */
    }
}
