body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;;
    background-color: #141624;
}

nav {
    width: 100%;
    z-index: 100;
    position: fixed;
    top: 0;
    left: 0; 
    background-color: #1B263B;
    
}

.nav {
    list-style-type: none;
    display: flex;
    justify-content: center;
    padding: 0;
    margin: 0;
    align-items: center;
}

.nav li {
    flex: 1;
    text-align: center;
    padding: 1% 0 .5% 0;
    justify-content: center;

}

.nav a {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #e6e6e6;
    text-align: center;
    text-decoration: none;
    font-size: 1.2em;
    font-family: scandia-web;
    font-weight: bold;
}


.nav a img {
    width: 2%; /* Adjust as needed */
    height: 2%; /* Adjust as needed */
}


.nav a:hover {
    opacity: 0.5; /* Adjust opacity value here */
    transition: opacity 0.5s ease;
}


.hamburger {
    display: none;
}


@media screen and (max-width: 600px) {
    .nav {
        display: none; /* Initially hide the nav on small screens */
        flex-direction: column;
        padding-bottom: 0;
        z-index: 4;
    }

    .nav.show {
        display: flex; /* Show nav when hamburger is clicked */
    }

    .hamburger {
        display: flex; /* Show hamburger only on mobile */
        flex-direction: column;
        justify-content: space-between;
        width: 30px;
        height: 25px;
        cursor: pointer;
        position: absolute;
        right: 20px;
        top: 15px;
    }

    .hamburger .line {
        width: 100%;
        height: 4px;
        background-color: #e6e6e6;
        margin: 2px 0;
    }

    .nav li {
        margin: 10px 0;
    }

    .nav li .logo {
        display: none; /* Optionally hide the logo on mobile */
    }
}


h1 {
    display: flex;
    justify-content: center; 
    align-items: center; 
    font-family: "scandia-web";
    font-size: 3.5em;
    padding: 7% 0 .5% 0;
    color: #e6e6e6;
    animation: fadein 2s;
}

@media screen and (max-width: 600px) {
    h1 {
        font-size: 1.5em;
        margin-top: 10%;
    }
}

@keyframes fadein {
    0% {opacity: 0;}
    100% {opacity: 1;}
}

.get_in_contact {
    display: flex;
    justify-content: center; 
    align-items: center; 
    padding: .5% 0 1% 0;
    font-family: titillium-web;
    font-size: 1.70em;
    font-weight: bold;
    color: #e6e6e6;
    animation: fadein 2s;
}

@media screen and (max-width: 600px) {
    .get_in_contact {
        display: flex;
        font-size: 1em;
        margin: 0 4%;
        text-align: center;
        justify-content: center;
        align-items: center;
    }
}

.button {
    background-color: transparent; 
    border-color: #e6e6e6;;
    border: solid;
    border-radius: 2.5px;
    color: #e6e6e6;; 
    padding: 1% .5% 0 1%;
    font-size: 1.3em; 
    cursor: pointer; 
    font-family: Poppins;
    transition: background-color 0.5s ease;
    border-width: .22em;
    animation: fadein 2s;
}

@media screen and (max-width: 600px) {
    .button {
        font-size: .8em;
        margin-top: 10%;
    }
}

.button:hover {
    background-color: #e6e6e6;
    color: #141624; 
    border-color: #e6e6e6;
}


.button_center {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1% 0 2% 0;
}


.reach_out {
    display: flex;
    align-items: center;
    flex-direction: column;
    font-family: titillium-web;
    font-size: 1.70em;
    padding: .5% 0 3% 0;
    color: #e6e6e6;
    animation: fadein 2s;
}

@media screen and (max-width: 600px) {
    .reach_out {
        display: flex;
        font-size: .8em;
        margin: 0 4%;
        text-align: center;
        justify-content: center;
        align-items: center;
        padding-top: 2%;
    }
}


.contact {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 100%;
    margin: 0;
    padding: 4% 0;
    background-color: #1B263B;
    color: #e6e6e6;
}



.contact-us {
    font-family: scandia-web;
    font-size: 2.7em;
    animation: fadein 2s;
}

@media screen and (max-width: 600px) {
    .contact-us {
        font-size: 1.5em;
        margin-top: 10%;
    }
} 

.contact-question {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    animation: fadein 2s;
}

@media screen and (max-width: 600px) {
    .contact-question {
        width: 100%;
    }
}


.contact-question h2 {
    margin-bottom: 0.5em;
    border: none; /* Remove border */
    padding: 0; /* Remove padding */
    text-align: left;
    text-align: center;
    animation: fadein 2s;
}

.contact-question p {
    font-size: 1.5em;
    font-family: titillium-web;
    animation: fadein 2s;
    padding: 2% 4%;
    max-width: 90%;
    text-align: center;
}

@media screen and (max-width: 600px) {
    .contact-question p {
        display: flex;
        font-size: 1em;
        margin: 0;
        width: 100%;
    }
}


.button2 {
    text-align: center;
    background-color: transparent; 
    border-color: #e6e6e6;
    border: solid;
    border-radius: 2.5px;
    color: #e6e6e6; 
    padding: 1% .5% 0 1%;
    font-size: 1.3em; 
    cursor: pointer; 
    font-family: Poppins;
    transition: background-color 0.5s ease;
    border-width: .22em;
    animation: fadein 2s;
}

@media screen and (max-width: 600px) {
    .button2 {
        font-size: .8em;
        margin-top: 10%;
    }
}

.button2:hover {
    background-color: #e6e6e6;
    color: #1B263B; 
    border-color: #e6e6e6;
}


.button2_center {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: .5% 0 2.5% 0;
}


.map-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 8%;
    color: #e6e6e6;
    padding: 4% 0;
}

.map iframe {
    border: 0;
    filter: brightness(90%);
}

@media screen and (max-width: 600px) {
    .map-container {
        flex-direction: column;
    }

    .map iframe {
        width: 100%; /* Full width on mobile */
        height: 300px; /* Adjust the height for mobile screens */
    }
}



.where {
    display: flex;
    flex-direction: column;
    max-width: 50%;
}

@media screen and (max-width: 600px) {
    .where {
        max-width: 100%;
        display: flex;
        justify-content: center;
        width: 100%;
        align-items: center;
        text-align: center;
        
    }
}

.where_can_you {
    display: flex;
    align-items: left; 
    font-family: scandia-web;
    font-size: 1.95em;
    font-weight: bold;
}

@media screen and (max-width: 600px) {
    .map-container {
        flex-direction: column; /* Stack text above map on mobile */
    }
    
    .where_can_you {
        font-size: 1.5em;
        margin-top: 10%;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
    }
    
    .map {
        width: 100%; /* Ensure map takes full width on mobile */
        height: auto;
    }
}

.club_space {
    display: flex;
    align-items: left; 
    font-family: Roboto Condensed;
    font-size: 1.65em;
    max-width: 80%;
}

@media screen and (max-width: 600px) {
    .club_space {
        font-size: 1em;
        max-width: 100%;
        width: 100%;
        text-align: center;
    }
}

.workspace {
    display: flex;
    font-family: Roboto Condensed;
    font-size: 1.65em;
    padding: 1% 0 0.5% 0;
    font-weight: bold;
}

.workspace::after {
    content: "BE 49";
    padding-left: 1%;
    font-weight: lighter; 
}

.machine_shop {
    display: flex;
    font-family: Roboto Condensed;
    font-size: 1.65em;
    padding: 0.5% 0 0.5% 0;
    font-weight: bold;
}

.machine_shop::after {
    content: "BE 51";
    padding-left: 1%;
    font-weight: lighter; 
}

.gen_meetings {
    display: flex;
    font-family: Roboto Condensed;
    font-size: 1.65em;
    padding: 0.5% 0 0.5% 0;
    font-weight: bold;
}

.gen_meetings::after {
    content: "BE 55";
    padding-left: 1%;
    font-weight: lighter; 
}

.address {
    display: flex;
    font-family: Roboto Condensed;
    font-size: 1.35em;
    padding: 0.5% 0 2% 0;
}

@media screen and (max-width: 600px) {
    .workspace,.machine_shop, .gen_meetings, .address {
        font-size: 1em;
    }
}


.donate-container {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 100%;
    margin: 0;
    padding: 2% 0;
    background-color: #1B263B;
    color: #e6e6e6;
}

.donate-to-us {
    font-family: scandia-web;
    font-size: 2.7em;
    animation: fadein 2s;
}

@media screen and (max-width: 600px) {
    .donate-to-us {
        font-size: 1.5em;
    }
}
.donate {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    animation: fadein 2s;
}

@media screen and (max-width: 600px) {
    .donate {
        width: 100%;
        padding: 4%;
    }
}

.donate h2 {
    margin-bottom: 0.5em;
    border: none; /* Remove border */
    padding: 0; /* Remove padding */
    text-align: left;
    text-align: center;
    animation: fadein 2s;
}

.donate p {
    font-size: 1.5em;
    font-family: titillium-web;
    max-width: 100%;
    text-align: center;
    animation: fadein 2s;
}

@media screen and (max-width: 600px) {
    .donate p {
        font-size: 1em;
        padding-top: 0;
    }
}


.button3 {
    text-align: center;
    background-color: transparent; 
    border-color: #e6e6e6;
    border: solid;
    border-radius: 2.5px;
    color: #e6e6e6; 
    padding: 2% .5% 0 1%;
    font-size: 1.3em; 
    cursor: pointer; 
    font-family: Poppins;
    transition: background-color 0.5s ease;
    border-width: .22em;
    animation: fadein 2s;
}

@media screen and (max-width: 600px) {
    .button3 {
        font-size: .8em;
        margin-top: 10%;
    }
}


.button3:hover {
    background-color: #e6e6e6;
    color: #1B263B; 
    border-color: #e6e6e6;
}


.button3_center {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: .5% 0 2.5% 0;
}



.schedule-container {
    padding-bottom: 4%;
}

@media screen and (max-width: 600px) {
    .schedule-container {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        text-align: center;
    }
}

.schedule {
    display: flex;
    justify-content: center;
    font-family: scandia-web;
    font-size: 1.95em;
    font-weight: bold;
    padding: 4% 0 0 0;
    color: #e6e6e6;
}

@media screen and (max-width: 600px) {
    .schedule {
        font-size: 1.5em;
        display: flex; 
        justify-content: center;
        align-items: center;
    }
}


.calender {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 2%;
    filter: brightness(90%); 
}

.calendar iframe {
    width: 100%;
    max-width: 100%; /* Ensure it doesn’t exceed the screen width */
    height: 450px; /* Smaller height for mobile */
    border: 0;
}

.calendar-mobile {
    display: none;
}

.calendar-link {
    display: none;
}

@media screen and (max-width: 600px) {
    .calendar iframe {
        display: none;
        padding: 0;
        margin: 0;
    }
    .calendar-container {
        display: none;
    }
    .calendar-mobile {
        display: flex;
        font-size: 1em;
        font-family: titillium-web;
        max-width: 100%;
        text-align: center;
        animation: fadein 2s;
        color: #e6e6e6;
    }
    .calendar-link {
        display: flex;
        font-size: 1.1em;
        font-family: titillium-web;
        max-width: 100%;
        text-align: center;
        animation: fadein 2s;
        color: #4ab1e4;
        font-weight: bold;
    }
    .calendar-link a:link {
        color: #4ab1e4;
        text-decoration: none;
    }
    .calendar-link a:hover {
        opacity: 0.5;
        transition: opacity 0.5s ease;
    }
    .link-container {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        padding: 0 4%;
    }
    .link-container a:visited { 
        text-decoration: none; 
        color: #4ab1e4;
    } 
}


.socials {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: nowrap;
    padding: 2% 2% 2% 2%;
    background-color: #1B263B;
    z-index: 2;
}

.socials a {
    transition: opacity 0.5s ease;
}

.socials a:hover {
    opacity: 50%;
}

.insta {
    padding: 0 0.5% 0 0.5%;
}

.youtube {
    padding: 0 0.5% 0 0.5%;
}

.mail {
    padding: 0 0.5% 0 0.5%;
}

.linked {
    padding: 0 0.5% 0 0.5%;
}

.copyright {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: scandia-web;
    font-style: italic;
    font-size: 1em;
    padding: 1% 0;
    color: #e6e6e6;
}

@media screen and (max-width: 600px) {
    .socials {
        flex-direction: row; /* Stack social icons */
        padding: 5% 0; /* Increase padding */
    }

    .socials a img {
        width: 30px; /* Reduce icon size */
    }

    .copyright {
        font-size: 0.8em; /* Smaller copyright text */
}
}
