html {
    width: 100%;
    overflow-x: hidden;
}
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #e6e6e6;
    background-color: #141624;
    overflow-x: hidden;
    justify-content: center;
    align-items: center;
    text-align: center;
    max-width: 100%;
}

nav {
    width: 100%;
    z-index: 100;
    position: fixed;
    top: 0;
    left: 0; 
    background-color: #1B263B;
    
}

.nav {
    list-style-type: none;
    display: flex;
    justify-content: center;
    padding: 0;
    margin: 0;
    align-items: center;
}

.nav li {
    flex: 1;
    text-align: center;
    padding: 1% 0 .5% 0;
    justify-content: center;

}

.nav a {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #e6e6e6;
    text-align: center;
    text-decoration: none;
    font-size: 1.2em;
    font-family: scandia-web;
    font-weight: bold;
}


.nav a img {
    width: 2%; /* Adjust as needed */
    height: 2%; /* Adjust as needed */
}



.nav a:hover {
    opacity: 0.5; /* Adjust opacity value here */
    transition: opacity 0.5s ease;
}

.hamburger {
    display: none;
}



@media screen and (max-width: 600px) {
    .nav {
        display: none; /* Initially hide the nav on small screens */
        flex-direction: column;
        padding-bottom: 0;
        z-index: 4;
    }

    .nav.show {
        display: flex; /* Show nav when hamburger is clicked */
    }

    .hamburger {
        display: flex; /* Show hamburger only on mobile */
        flex-direction: column;
        justify-content: space-between;
        width: 30px;
        height: 25px;
        cursor: pointer;
        position: absolute;
        right: 20px;
        top: 15px;
    }

    .hamburger .line {
        width: 100%;
        height: 4px;
        background-color: #e6e6e6;
        margin: 2px 0;
    }

    .nav li {
        margin: 10px 0;
    }

    .nav li .logo {
        display: none; /* Optionally hide the logo on mobile */
    }
}


h1 {
    display: flex;
    
    justify-content: center; 
    align-items: center; 
    padding: 10% 0 .5% 0;
    font-family: scandia-web;
    font-size: 3.5em;
    font-weight: bold;
}


h2 {
    display: flex;
    justify-content: center; 
    align-items: center; 
    font-family: scandia-web;
    font-size: 2.55em;
    font-weight: bold;
    padding: 2% 2% 2% 2%;
    
    margin: 0 auto;
    
    
    
    
}

.sponsorpacket {
    display: flex;
    font-family: Roboto Condensed;
    font-size: 1.80em;
    
    margin-top: 2%;
    margin-bottom: 2%;
    font-weight: bold;
    justify-content: center; 
    background-color: #1B263B;

}

p a:hover {
    opacity: 0.5;
    transition: opacity 0.5s ease;
}

p a:link {
    text-decoration: none;
    color: #4ab1e4;
}

p a:visited { 
    text-decoration: none; 
    color: #4ab1e4;
} 

.sponsor_gold {
    border: 2px solid gold;
    width: max-content;
    
    
}
.sponsor_silver {
    border: 2px solid silver;
    width: max-content;
    
}
.sponsor_bronze {
    border: 2px solid #CD7F32;
    width: max-content;
    
}



.pictures {
    
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 100%;
    margin: 0 auto; /* Center container horizontally */
    flex-wrap: wrap;

    
}

.flex-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 3% 2% 3% 1%;
    max-width: 100%;
    
    
    
}

.flex-container > div {
    
    justify-content: center;
    align-items: center;
    padding: 0% 2% 0% 2%;
    max-width: 100%;
    
}

@media screen and (max-width: 600px) {


    .flex-container {
        flex-direction: column; /* Stack pictures vertically */
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        margin-top: 4%;
        margin-bottom: 4%;
        max-width: 90%; /* Adjust max-width for smaller screens */
    }

    .pictures {
        justify-content: center;
        align-items: center;
        max-width: 100%;
        flex-wrap: wrap;
    }

    .pictures img {
        max-width: 50%; /* Ensure images don't overflow the screen */
        height: auto;
        margin-top: 4%;
        margin-bottom: 4%;
    }

    h1 {
        font-size: 1.75em;
    }

    h2 {
        font-size: 1.75em;
        text-align: center;
        margin-top: 1%;
    }

    p {
        font-size: 1.5em; /* Make font size smaller for mobile */
        margin: 0 auto;
    }

    .sponsorpacket {
        display: flex;
        font-family: Roboto Condensed;
        font-size: 1em;
        display: flex;
        flex-direction: column;
        
        padding: 2%;
        font-weight: bold;
        justify-content: center; 
        background-color: #1B263B;
    
    }
}



.flex {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    padding: 1% 2.5% 10% 2.5%;
    align-items: center;
}


.email {
    display: flex;
    justify-content: center; 
    align-items: center; 
    height: 2vh; 
    font-family: Titillium Web;
    font-size: 1.30em;
    font-weight: bold;
    padding: 5% 0 .5% 0;
}


.socials {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: nowrap;
    padding: 2% 2% 2% 2%;
    background-color: #1B263B;
    z-index: 2;
}

.socials a {
    transition: opacity 0.5s ease;
}

.socials a:hover {
    opacity: 50%;
}

.insta {
    padding: 0 0.5% 0 0.5%;
}

.youtube {
    padding: 0 0.5% 0 0.5%;
}

.mail {
    padding: 0 0.5% 0 0.5%;
}

.linked {
    padding: 0 0.5% 0 0.5%;
}

.copyright {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: Scandia;
    font-style: italic;
    font-size: 0.8em;
    padding: 1% 0;
}

@media screen and (max-width: 600px) {
    .socials {
        flex-direction: row; /* Stack social icons */
        padding: 5% 0; /* Increase padding */
    }

    .socials a img {
        width: 30px; /* Reduce icon size */
    }

    .copyright {
        font-size: 0.8em; /* Smaller copyright text */
    }
}
