html {
    overflow-x: hidden;
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #e6e6e6;
    background-color: #141624;
    overflow-x: hidden;
    max-width: 100%;
}

nav {
    width: 100%;
    z-index: 100;
    position: fixed;
    top: 0;
    left: 0; 
    background-color: #1B263B;
    
}

.nav {
    list-style-type: none;
    display: flex;
    justify-content: center;
    padding: 0;
    margin: 0;
    align-items: center;
}

.nav li {
    flex: 1;
    text-align: center;
    padding: 1% 0 .5% 0;
    justify-content: center;

}

.nav a {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #e6e6e6;
    text-align: center;
    text-decoration: none;
    font-size: 1.2em;
    font-family: scandia-web;
    font-weight: bold;
}


.nav a img {
    width: 2%; /* Adjust as needed */
    height: 2%; /* Adjust as needed */
}



.nav a:hover {
    opacity: 0.5; /* Adjust opacity value here */
    transition: opacity 0.5s ease;
}

.hamburger {
    display: none;
}



@media screen and (max-width: 600px) {
    body {
        text-align: center;
    }
    .nav {
        display: none; /* Initially hide the nav on small screens */
        flex-direction: column;
        padding-bottom: 0;
        z-index: 4;
    }

    .nav.show {
        display: flex; /* Show nav when hamburger is clicked */
    }

    .hamburger {
        display: flex; /* Show hamburger only on mobile */
        flex-direction: column;
        justify-content: space-between;
        width: 30px;
        height: 25px;
        cursor: pointer;
        position: absolute;
        right: 20px;
        top: 15px;
    }

    .hamburger .line {
        width: 100%;
        height: 4px;
        background-color: #e6e6e6;
        margin: 2px 0;
    }

    .nav li {
        margin: 10px 0;
    }

    .nav li .logo {
        display: none; /* Optionally hide the logo on mobile */
    }
}

h1 {
    display: flex;
    color: white;
    text-shadow: 3px 3px #141624;
    
    justify-content: center; 
    align-items: center; 
    padding: 5% 0 .5% 0;
    font-family: scandia-web;
    font-weight: bold;
    font-style: italic;
    font-size: 3.5em;
}

p {
    font-family: Roboto Condensed;
    font-size: 1.25em;
    
}

.fsae_electric_pic {
    top: 10%;
    width: 100%;
    height: 700px;
    background-image: url(what_is_fsae.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    position: fixed;    
    z-index: 1;
    animation: fadein 2s;
    
}

@media screen and (max-width: 600px) {
    .fsae_electric_pic {
        width: 100vw;
        height: 50vh;
        max-width: 100%;
        top: 0px;
               
        
    }

    h1 {
        font-size: 2.5em;
        text-align: center;
    }
}

.fsae_comp {
    position: relative;
    z-index: 50;
    margin-top: 50vh;
    background-color: #141624;
    color: #e6e6e6;
}

@keyframes fadein {
    0% {opacity: 0;}
    100% {opacity: 1;}
}

.what_is_fsae {
    display: flex;
    align-items: left; 
    font-family: scandia-web;
    font-size: 1.95em;
    font-weight: bold;
    padding: 3% 0 0 2.5%;
}

.fsae_desc {
    display: flex;
    align-items: left; 
    font-family: Roboto Condensed;
    font-size: 1.65em;
    padding: 1.5% 4.5% 2% 5%;
    line-height: 1.75;
    opacity: 80%;
}


.FS_involve {
    display: flex;
    align-items: left; 
    font-family: scandia-web;
    font-size: 1.95em;
    font-weight: bold;
    padding: 1.5% 4.5% 2% 5%;
    background-color: #141624;
}

.involve_desc {
    display: flex;
    align-items: left; 
    font-family: Roboto Condensed;
    font-size: 1.65em;
    padding: 1.5% 4.5% 2% 2.5%;
    line-height: 1.75;
    opacity: 80%;
    background-color: #141624;
}

.FS_design_intro {
    z-index: 50;
    display: flex;
    align-items: left; 
    font-family: scandia-web;
    font-size: 2.8em;
    font-weight: bold;
    padding: 3% 0 0 2.5%;
    background-color: #141624;
    max-width: 100%;
}

.FS_design_title {
    z-index: 50;
    display: flex;
    font-family: Roboto Condensed;
    font-size: 1.80em;
    padding: 1% 0 0.5% 2.5%;
    font-weight: bold;
    line-height: 1.75;
    background-color: #141624;
}

.FS_design_brief {
    z-index: 50;
    display: flex;
    font-family: Roboto Condensed;
    font-size: 1.65em;
    padding: 1% 0 0.5% 2.5%;
    line-height: 1.75;
    background-color: #141624;
}

.design_topic {
    z-index: 50;
    display: contents;
    font-family: Roboto Condensed;
    font-size: 1.65em;
    padding: 1% 0 0.5% 2.5%;
    white-space: pre-line;
    font-weight: light;
    
    background-color: #141624;
}

.design_topic li {
    padding: 0 auto;
    justify-content: right;
    list-style-type: none;
    text-indent: 5%;
    
    
}

.half_divide {
    width: 49.8%;
    display: inline-block;
    
}

.designs {
    position: relative;
    z-index: 50;
    
    background-color: #141624;
    color: #e6e6e6;
}

.flex-container {
    z-index: 50;
    display: flex;
    justify-content: center;
    padding: 1% 2% 2% 1%;
    background-color: #141624;
}

.flex-container > div {
    z-index: 50;
    padding: 0% 1% 0% 1%;
    background-color: #141624;
    width: 100%;
}

@media screen and (max-width: 760px) {

    .fsae_electric_pic {
        font-size: 1.8em;
    }

    .what_is_fsae {
        font-size: 1.75em;
    }

    .fsae_desc {
        font-size: 1em;
    }

    .FS_involve {
        font-size: 1.75em;
    }

    .involve_desc {
        font-size: 1em;
    }

    .FS_design_intro, .FS_design_title {
        font-size: 1.5em;
        width: max-content;
        max-width: 100%;
        text-align: center;
    }

    


    .flex-container {
        flex-wrap: wrap;
        flex-direction: column; 
        justify-content: center;
        max-width: 100%;
        
        
    }
    .flex-container > div {
        flex-wrap: wrap;
        flex-direction: column; 
        justify-content: center;
        width: 100%;
        max-width: 100%;
        
        
    }

    .FS_design_brief, .design_topic, p {
        font-size: 1em;
    }



    .second_item img{
        width: 100%;
        padding: 0 auto;
        height: auto;
    }

    .second_item iframe {
        height: 30vh;
    }

    .second_item p {
        font-size: 1em;
    }

    .design_topic li {
        flex: 1;
        text-align: center;
        padding: 1% 0 .5% 0;
        justify-content: center;
    
    }

    h2 {
        font-size: 1.75em;
    }

}

.email {
    display: flex;
    justify-content: center; 
    align-items: center; 
    height: 2vh; 
    font-family: Titillium Web;
    font-size: 1.30em;
    font-weight: bold;
    padding: 5% 0 .5% 0;
}


.socials {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: nowrap;
    padding: 2% 2% 2% 2%;
    background-color: #1B263B;
    z-index: 2;
}

.socials a {
    transition: opacity 0.5s ease;
}

.socials a:hover {
    opacity: 50%;
}

.insta {
    padding: 0 0.5% 0 0.5%;
}

.youtube {
    padding: 0 0.5% 0 0.5%;
}

.mail {
    padding: 0 0.5% 0 0.5%;
}

.linked {
    padding: 0 0.5% 0 0.5%;
}

.copyright {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: Scandia;
    font-style: italic;
    font-size: 1em;
    padding: 1% 0;
}

@media screen and (max-width: 600px) {
    .socials {
        flex-direction: row; /* Stack social icons */
        padding: 5% 0; /* Increase padding */
    }

    .socials a img {
        width: 30px; /* Reduce icon size */
    }

    .copyright {
        font-size: 0.8em; /* Smaller copyright text */
    }
}